﻿@model EventViewModel

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/App/index.js"></script>
}
<div data-ng-app="PDS" data-ng-controller="ctrlPDS">
    <div class="form-group">
        @Html.LabelFor(x => x.Current)
        @Html.EditorFor(x => x.Current, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
                data_events_url = Url.Content("~/api/Events")
            }
        })
    </div>
    <div class="alert alert-danger" data-ng-if="data.error">Error: can't load events. Please try again later.</div>
    <div class="alert alert-info" data-ng-if="!data.error && data.loadingEvents">Loading events. Please wait...</div>
    <div data-ng-if="!data.error && !data.loadingEvents">
        <h3>Showing events for seven days from {{ data.Date | date:'EEEE dd MMM yyyy'  }}</h3>
        <table class="table table-hover">
            <tr>
                <th>Event</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            <tr data-ng-repeat="event in data.Events" data-ng-click="updateModal(event.ID)" data-toggle="modal" data-target="#details">
                <td>{{ event.Description }}</td>
                <td>{{ event.StartDate | date:'dd MMM yyyy' }} {{ event.StartTime }}</td>
                <td>{{ event.EndDate | date:'dd MMM yyyy' }} {{ event.EndTime }}</td>
            </tr>
        </table>
        <p data-ng-if="!data.error && !data.Events.length">No events to display.</p>
    </div>

    <div class="modal" id="details">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4>More details...</h4>
                </div>
                <div class="modal-body">
                    <div data-ng-if="!data.ModalEvent" class="alert alert-danger">
                        Error: can't display this event.
                    </div>
                    <div data-ng-if="data.ModalEvent">
                        <fieldset>
                            <legend>Details</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Event:</label>
                                        </div>
                                        <div class="col-md-10">
                                            {{ data.ModalEvent.Description }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Category:</label>
                                        </div>
                                        <div class="col-md-10">
                                            {{ data.ModalEvent.Category }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Start time:</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{ data.ModalEvent.StartDate | date:'dd MMM yyyy' }} {{ data.ModalEvent.StartTime }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>End time:</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{ data.ModalEvent.EndDate | date:'dd MMM yyyy' }} {{ data.ModalEvent.EndTime }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Members</legend>
                            <div class="row" data-ng-if="data.ModalEvent.Members.length">
                                <div class="col-md-4" data-ng-repeat="member in data.ModalEvent.Members">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h4>{{ member.FullTitle }}</h4>
                                            <p>{{ member.Party }}</p>
                                            <p>{{ member.MemberFrom }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div data-ng-if="!data.ModalEvent.Members.length">
                                No members listed for this event.
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

